# Server Constants
BASE_URL=http://localhost
PORT=3000

# Node Run Time
NODE_ENV=development

# Mongo Configuration
MYSQL_HOST=mysql
MYSQL_PORT=3306
MYSQL_DB_NAME=moolahlah
MYSQL_USERNAME=moolahlah_svc
MYSQL_PASSWORD=secret

# Encryption
SALT_ROUNDS=12

# Session Data
SESSION_SECRET=34dba63de9d2
COOKIE_NAME=connect.moo

# Redis
REDIS_HOST=redis
REDIS_PORT=6379

# Mailgun
MAILGUN_API_KEY=its a secret
MAILGUN_DOMAIN=mg.moolahlah.com
EMAIL_SENDER=Moolahlah Team <noreply@mg.moolahlah.com>
