doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    meta(name='description', content='moolahlah | Financial Planner')
    link(rel="stylesheet", href="/assets/css/normalize.css")
    link(rel="stylesheet", href="/assets/css/base.css")
    link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Lato|Covered+By+Your+Grace")
    title moolahlah | Financial Planner

  body
    div(id='root')
    for bundle in bundles
      script(src=bundle)