doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    meta(name='description', content='moolahlah | Financial Planner')
    title moolahlah | Financial Planner

  body
    div(id='root')
    for bundle in bundles
      script(src=bundle)