title Welcome to Moolahlah!

p Hello <b>#{name}</b>,
p Congradulations! You have succssefully signed up for Moolahlah - Your personal finance manager.<br />Your customer ID is : #{emailAddress}
p You are on your way to saving money.<br />Please let us know if you have any questions.
p Sinceraly, <br />Moolahlah
